@tailwind base;
@tailwind components;
@tailwind utilities;

@responsive {
    .bullet-red::marker {
        color: #cc3333;
    }
}

@layer base {

    body {
        --color-nav: #eee;
        --color-panel: #fff;
        --color-bg: #fff;
        --color-text: #000;
        --color-border: #333;
    }

    body[class~="dark"] {
        --color-nav: #333;
        --color-panel: #444;
        --color-bg: #222;
        --color-text: #fff;
        --color-border: #fff;
    }
}


.bg-nav {
    background-color: var(--color-nav);
}

.bg-panel, .bg-light-panel {
    background-color: var(--color-panel);
}

.bg-light-background {
    background-color: var(--color-bg);
}

.text-light-text {
    color: var(--color-text);
}

.border-light-border {
    border-color: var(--color-border);
}

.swiper-wrapper {
    width: 100%;
    height: max-content !important;
    padding-bottom: 64px !important;
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
    position: relative;
}
.swiper-pagination-bullet {
    background: #cc3333;
}

.swiper-button-prev, .swiper-button-next {
    color: #cc3333;
}
