html {
    scroll-behavior: smooth;
}

main {
  margin: 0;
  padding: 0;
  text-align: left;
  background: linear-gradient(var(--gray-gradient)) no-repeat;
  background-size: 100% 600px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: rgb(var(--gray-dark));
  font-size: 20px;
  line-height: 1.7;
}

main {
  width: 720px;
  max-width: calc(100% - 2em);
  margin: auto;
  padding: 3em 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  color: #cc3333;
  line-height: 1.2;
  position:relative;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
#content a::selection{
  background: var(--color-border);
}

h1 {
  font-size: 3.052em;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}
strong,
b {
  font-weight: 700;
}

.blog > a {
  color: #cc3333;
}

a:hover {
  color: #cc3333;
}

p {
  margin-bottom: 1em;
}

.prose p {
  margin-bottom: 2em;
}

textarea {
  width: 100%;
  font-size: 16px;
}

input {
  font-size: 16px;
}

table {
  width: 100%;
}

pre {
  padding: 1em;
}

pre > code {
  all: unset;
}

blockquote {
  border-left: 4px solid #cc3333;
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.333em;
}

hr {
  border: none;
  border-top: 1px solid rgb(var(--gray-light));
}

@media (max-width: 720px) {
  body {
    font-size: 18px;
  }

  main {
    padding: 1em;
  }

  h1 {
    font-size: 2.441em;
  }

  h2 {
    font-size: 1.953em;
  }

  h3 {
    font-size: 1.563em;
  }

  h4 {
    font-size: 1.25em;
  }

  h5 {
    font-size: 1.125em;
  }
}

::marker {
  color: #cc3333;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
}


.label foreignObject {
  overflow: visible;
}
.copy-code {
  position: absolute;
  top: 1px;
  right: 1px;
  color: rgb(204, 51, 51);
  padding: 0.25rem 0.5rem;
  font-size: 4rem;
  line-height: 4rem;
  border-top-right-radius: 7px;
}


picture, picture + p:has(em) {
  width: 100%;
  display: flex;
  justify-content: center;
}

ul li img {
  margin-bottom: 0.5rem;
  border-radius: 12px;
}

ul li a {
  display: block;
}

.title {
  margin: 0;
  color: rgb(var(--black));
  line-height: 1;
}

.date {
  margin: 0;
  color: rgb(var(--gray));
}

ul li a:hover h4,
ul li a:hover .date {
  color: #cc3333;
}

ul a:hover img {
  box-shadow: var(--box-shadow);
}



#content a {
  color: #cc3333;
}


#content a:hover {
  text-decoration: underline;
}


ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol li::marker {
  font-weight: bold;
}


#content img {
  display: block;
  margin: auto;
  max-width: 250px;
  transition: width 0.3s ease-in-out;
  position: relative;
  z-index: 1;
  border: 5px #8887 solid;
  border-radius: 5px;
  cursor: pointer;
}

/*#content p:has(img) {*/
/*  position: relative;*/
/*  overflow: visible;*/
/*}*/

/*#content img:hover {*/
/*  width: auto;*/
/*  max-width: unset;*/
/*}*/


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
}

.modal-img {
  border: 10px #8887 solid;
  border-radius: 10px;
  max-width: 90%;
  max-height: 90%;
}

.astro-code {
  margin-bottom: 2em;
  background: #22222277 !important;
  border-radius: 8px;
  border: 1px solid #fff7;
}

ul + h3, ol + h3 {
  margin-top: 1em;
}

.beoe.mermaid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.beoe.mermaid path {
    stroke: var(--color-border) !important;
}


.nodeLabel, .edgeLabel {
    color: var(--color-text) !important;
}


.node rect {
    fill: var(--color-bg) !important;
    stroke: #cc3333 !important;
}

.labelBkg, .edgeLabel, .edgeLabel p {
    background-color: var(--color-bg) !important;
}


li p:first-of-type {
    display: inline;
    margin-left: 0 !important;
}

ol > li > * {
    margin-left: 1em;
}


li ul li {
    list-style-type: square;
}

ol p, ul p {
    margin-bottom: 0 !important;
}


ol, ul {
    display: block;
}


li {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}


blockquote {
    color: #cc3333;
    font-style: italic;
}

.anchor::before {
    content: "\f13d";
    visibility: hidden;
    direction: rtl;
    position: absolute;
    transform: translate(-110%, 60%);
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 50%;
    vertical-align: middle;
}

.anchor:hover::before {
    visibility: unset;
    opacity: 60%;
}

.anchor-link {
    text-decoration-color: rgba(204, 51, 51, 0.6) !important;
}

@media (max-width: 720px) {
    .anchor::before {
        visibility: unset;
        opacity: 60%;
        transform: translate(-125%, 60%);
    }
}