---
import HeaderLink from './HeaderLink.astro';
---

<header class="sticky w-full p-0 top-0 z-10">
	<div class="sticky top-0 left-0 right-0 h-16 bg-nav bg-nav-solid shadow-lg text-light-text z-20 flex items-center">
		<div class="flex items-center w-1/2">
			<div class="p-2 px-4 font-bold text-2xl text-accent-solid"><a href="/">Louis Jones</a></div>
			<div class="p-2 px-4 text-light-text font-bold hover:text-accent-solid"><a href="/blog">BLOG</a></div>
		</div>
		<div class="flex items-center justify-end w-1/2">
			<a id="contact-form-button" class="contact-form-button m-5 px-6 py-2 rounded-full font-bold text-sm bg-accent-solid text-white hover:bg-white hover:text-accent-solid transition"
			   href="#">CONTACT</a>
			<div class="p-5 font-bold text-sm text-light-text"><span id="dark-mode" class="fa fa-moon text-2xl cursor-pointer"></span></div>
		</div>
	</div>
</header>

<div class="w-full h-full top-0 left-0 fixed hidden items-center justify-center bg-black bg-opacity-50 z-10"
	 id="contact-form">
	<div class="rounded-xl w-full lg:w-8/12 h-auto shadow-lg mb-6 p-10 bg-light-panel">
		<h1 class="text-4xl font-bold text-accent-solid">Get in touch</h1>
		<hr class="border-accent-solid">
		<form class="p-4 pt-8" name="Contact" netlify action="/">
			<div class="flex flex-row flex-wrap w-full my-2">
				<div class="w-1/2 p-4">
					<label class="text-light-text block pb-2">Name:</label>
					<input class="rounded w-full mb-4 p-2 shadow-lg" type="text" name="Name" placeholder="Name">
				</div>
				<div class="w-1/2 p-4">
					<label class="text-light-text block pb-2">Email:</label>
					<input class="rounded w-full mb-4 p-2 shadow-lg" type="text" name="Email"
						   placeholder="Email">
				</div>
				<div class="w-full p-4">
					<label class="text-light-text block pb-2 shadow-lg">Message:</label>
					<textarea name="Message" rows="3" class="w-full rounded p-2 resize-none"></textarea>
				</div>
			</div>
			<button id="contact-form-close" type="submit"
					class="m-5 px-6 py-2 rounded-full font-bold text-sm bg-accent-solid text-white hover:bg-white hover:text-accent-solid transition">Submit
			</button>
		</form>
	</div>
</div>

<script>
	window.addEventListener("load", () => {
		let form = document.getElementById("contact-form")

		document.getElementById("contact-form-button").onclick = () => {
			form.classList.remove("hidden");
			form.classList.add("flex");
		};

		document.getElementById("contact-form-close").onclick = () => {
			form.classList.remove("flex");
			form.classList.add("hidden");
		};


		form.onclick = (e) => {
			if (e.target.id === "contact-form") {
				form.classList.remove("flex")
				form.classList.add("hidden")
			}
		};
	})
</script>
